html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.t-Button, .a-Button, .ui-button {
  --a-button-border-width: 0px;
  border: none;
  text-shadow: none;
  border-radius: 4px;
  transition: background-color .2s ease,box-shadow .2s ease,color .2s ease;
}
.t-Button--large {
  padding: 1.2rem 1.6rem;
  line-height: 1.6rem;
}
.apex-icons-fontawesome .t-Button.t-Button--header .t-Icon.fa, .t-Button--large {
  font-size: 1.4rem;
}

.t-Button {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: .8rem 1.2rem;
  font-weight: 400;
  color: #fff;
  background-color: #e9222f !important;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 13%) inset;
}
.t-Button--icon {
  line-height: 1.6rem;
  text-align: center;
  min-width: 4rem;
}
.t-Button {
  background-clip: padding-box;
  border: .1rem solid transparent;
  display: inline-block;
  font: inherit;
  margin: 0;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}
.text-center{
  text-align: center;
}
.row {
  margin-right: -8px;
  margin-left: -8px;
  width: 100%;
  float: left;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col {
  float: left;
  padding-right: 8px;
  padding-left: 8px;
}
.padding-top-lg {
  padding-top: 32px!important;
}
.padding-bottom-md {
  padding-bottom: 16px!important;
}
.margin-top-lg {
  margin-top: 32px!important;
}
.margin-bottom-lg {
  margin-bottom: 32px!important;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.w-100{
  width: 100%;
}
.u-left{
  float: left;
}
h2 {
  font-size: 54px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -.1px;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.t-Card-items {
  width: 32%;
  margin: 5px;
  float: left;
}
.t-Card-wrap {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.075);
  width: 100%;
  border-radius: 15px;
  padding: 0;
  min-height: 510px;
}
.margin-none{
  margin: 0;
}
.cards-bg {
  width: 100%;
  float: left;
  margin: 0px!important;
}
.card-info,
.card-buttons{
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
.card-info li{
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}
.card-info li:first-child:after{
  content: '';
  position: absolute;
  right: 35px;
  width: 1px;
  height: 90%;
  background-color: #f5e8e8;
  top: 5px;
}
.card-info li span{
  width: 100%;
  float: left;
  font-size: 1.2rem;
  font-weight: 400;
}
.card-buttons li a {
  display: block;
  padding: 10px 20px;
  border: 1px solid #f5e8e8;
  border-radius: 5px;
}
.cards-image img{
  display: none;
}
.cards-image img:first-child{
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.card-body{
  padding: 15px;
}
.card-body h2{
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
/*Wrapper CSS Starts*/
.wrapper-line {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
  float: left;
}

.wrapper-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper-line .wrapper-cont {
  text-align: center;
}
.wrapper-line .wrapper-cont .fa {
  background-color: #F6F4F2;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
}
.wrapper-line .wrapper-cont p{
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 5px 0;
}

.banner-bg {
  background-image: url(/form-bg.png);
  height: 550px;
  background-size: cover;
  position: relative;
  background-position: bottom center;
  width: 100%;
  float: left;
}
.banner-bg h2, .banner-bg p {
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}
.banner-bg p {
  font-size: 27px !important;
}
.banner-bg .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
}
.video-bg iframe{
    margin: 20px auto 60px;
    border-radius: 15px;
}
.t-Footer {
  background-color: #18181a;
  color: #fff;
}
form>div{
  max-width: 500px;
  margin: 0 auto;
}
form div .t-Button{
  margin-left: 20px;
}
label{
  width: 100%;
  float: left;
  padding-left: 25px;
  margin-bottom: -5px;
}
input{
  padding: 10px;
    width: 500px;
    margin: 15px auto;
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid #d8d8d8;
    background: #fff;
    height: 48px;
}
textarea{
  padding: 10px;
    width: 500px;
    margin: 15px auto;
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid #d8d8d8;
    background: #fff;
    height:80px;
}
@media (min-width: 768px){
.hidden-sm-up {
    display: none!important;
}
}
@media (max-width: 767px){
.hidden-xs-down {
    display: none!important;
}
}